.footer {
  background-color: #7297ef;
}
.footer__nav {
  display: flex;
  border-bottom: 1px solid #7689b4;
  margin-left: 101px;
  gap: 203px;
  margin-top: 40px;
}

.footer__nav__link__img {
  display: flex;
  padding-top: 40px;
  margin-bottom: 15px;
}
.footer__nav__address {
  font-style: normal;
  font-size: 12px;
  line-height: 19px;
  color: #ffffff;
  width: 100%;
  max-width: 229px;
}
.footer__nav__knew {
  display: flex;
  padding-right: 83px;
  gap: 100px;
  margin-top: 80px;
}

.footer__nav__knew__link {
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 18.96px;
  padding-bottom: 10px;
}
.footer__bottom {
  margin-left: 101px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding-right: 31px;
  padding-bottom: 50px;
}

.footer__bottom__left__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  width: 161px;
}
.footer__bottom__knew__wrapper {
  margin-left: 662px;
}
.footer__bottom__knew {
  display: flex;
  gap: 25px;
}
.footer__bottom__knew__list {
  display: flex;
  gap: 25px;
  align-items: center;
}
